* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

main {
    background-image: url(../assets/backgound/Background_Blue.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;
}

#contents-wrapper {
    padding-top: 3rem;
    width: 90vw;
    justify-self: center;
    position:relative;
}

@media (min-width: 600px) {
    #contents-wrapper {
        width: 70vw;
    }
}

@media (min-width: 1024px) {
    #contents-wrapper {
        width: 40vw;
    }
}

.hidden {
  display: none;
}

/* modal */
.modal{
  position:fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(175, 179, 238);
  padding: 3rem;
  border-radius: 40px;
  color :white;
  z-index: 999;
}
.modal h2{
  text-align: center;
}
.modal-content{
  position: relative;
  margin: 1rem;
  padding: 1rem;
}
.closeModal{
  color :white;
  position:absolute;
  top: -5vh;
  right: 0;
  font-size: 2rem;
}
.closeModal:hover {
  transform: scale(0.95);
  filter: brightness(1.1);
}
.closeModal:active {
  transform: scale(0.9);
  filter: brightness(0.9);
}

/* button */
button{
  border: none;
  background: none;
}
button:hover img {
  transform: scale(0.95);
  filter: brightness(1.1);
}
button:active img {
  transform: scale(0.9);
  filter: brightness(0.9);
}

#weather {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
}

#weather img#weather-icon {
    width: 100px;
    height: auto;
    margin: 0;
}

#weather p#weather-tmp {
    font-family: "Monomaniac One", sans-serif;
    font-size: 30px;
    color: grey;
}

#message {
    display: flex;
    position: absolute;
    top: 10%;
    left: 5vw;
    z-index: 10;
    width: fit-content;
}

#message p {
    font-family: "Monomaniac One", sans-serif;
    color: rgb(133, 131, 131);
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 5%;
    font-size: 1.2rem;
}

#weather-modal {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    width: 90%;
    height: 35%;
    background-color: bisque;
    padding: 2rem;
    font-family: "Monomaniac One", sans-serif;
    gap: 2rem;
}

#weather-close {
    position: absolute;
    top: 0;
    right: 5%;
    align-self: end;
    font-size: 2rem;
}

#forecast-title {
    font-size: 2rem;
}

#forecast-label {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#forecasts {
    display: flex;
    gap: 1.5rem;
}

.date-forcast {
    display: flex;
    flex-direction: column;
    align-items: center;

}