#status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.gauge {
    display: flex;
    align-items: center;
    position: relative;
    width: 35%;
    aspect-ratio: 5 / 1;
    background-color: rgb(175, 179, 238);
    border-radius: 10px;
    border: 5px solid rgb(148, 154, 229);
}

.gauge-icons {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.gauge-icons img {
    width: 13%;
    height: auto;
}

.gauge-fg {
    z-index: 2;
}

/* task */
#task {
    display: flex;
    position: relative;
    justify-content: end;
}
#task-toggle{
    width:fit-content;
}
#task img{
    width: 3rem;
    height: auto;
    background-color: rgb(175, 179, 238);
    border-radius: 10px;
    border: 5px solid rgb(148, 154, 229);
}
#taskModal{
    z-index: 999;
}
.task-status{
    padding: 0 2ch;
}
#routine{
    background-color: rgb(148, 154, 229);
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
}
#routine li{
    padding: 0.3rem;
    background-color: white;
    color: rgb(54, 56, 93);
    border: 1px solid rgb(148, 154, 229);
}
#badge{
    position:absolute;
    top: -0.4rem;
    right: -0.4rem;
    background-color: hotpink;
    color: white;
    border-radius: 999px;
    padding: 2px 8px;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 5px;
}